server:
  port: 8080
spring:
  application:
    name: ae-iban-validator


ae:
  bankcodes:
    live-only: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
